* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

nav {
  padding: 10px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 130px;
}

.nav-right,
.nav-left,
.nav-middle,
.search-box {
  display: flex;
  align-items: center;
}

.nav-middle .mic-icon {
  width: 16px;
}

.nav-middle .search-box {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-right: 15px;
}

.search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}

.search-box img {
  width: 15px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

/* sidebar  */
.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 15%;
  background-color: #fff;
  padding-left: 2%;
  padding-top: 80px;
}

.sidebar a img {
  width: 25px;
  margin-right: 15px;
}

.sidebar .shortcut-links a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  margin-bottom: 20px;
}

.shortcut-links a:first-child {
  color: #ed3888;
}

.sidebar hr {
  background-color: #ccc;
  width: 85%;
  border: 0;
  height: 1px;
}

.subscribed-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}

.subscribed-list a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  margin-bottom: 15px;
}

.subscribed-list a img {
  width: 25px;
  border-radius: 50%;
}

.small-sidebar {
  width: 5%;
}

.small-sidebar a p,
.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 50%;
  margin-bottom: 20px;
}

/* main  */

.container {
  background: #f9f9f9;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container .banner {
  width: 100%;
}
.container img {
  width: 100%;
  border-radius: 8px;
}

.flex-div {
  display: flex;
  align-items: center;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin-top: 15px;
}

.vid-list .thumbnail {
  width: 100%;
  border-radius: 5px;
}

.vid-list .flex-div {
  align-items: flex-start;
  margin-top: 7px;
}

.vid-list .flex-div img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.vid-info a {
  color: #000;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
